{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block title %}
    myprofile
{% endblock title %}

{% block content %}
  <div class="ui modal mymodal">
       <i class="close icon"></i>
       <div class="header">
         Update Your Profile Picture
       </div>
       <div class="image content">
          <div class="ui medium image">
             <img src={{ profile.avatar.url }}>
          </div>
           <div class="description">
             <div class="ui header">Provide some additional information about you</div>
             <form action="" method="POST" class="ui form" enctype="multipart/form-data">
               {% csrf_token %}
               {{ form.as_p }}
             </div>
       </div>
             <div class="actions">
               <button class="ui positive right labeled icon button">
               Update
               <i class="checkmark icon"></i>
               </button>
           </div>
             </form>

      </div>
    </div>


    <div class="ui segment">
    {% if confirm %}
        <div class="ui green message">Your Profile has been updated</div>
    {% endif %}
    <h3>my profile:{{ request.user }}</h3>
    <div class="ui grid">
        <div class="row">
           <div class="six wide column">
               <img class="ui medium rounded image" src={{ profile.avatar.url }}>
               <div class="row mt-5">
                  <button class="ui secondary button" id="modal-btn">Update Your Profile</button>
               </div>
           </div>
           <div class="ten wide column">
               <table class="ui table">
                    <tbody>
                         <tr>
                            <td>Username</td>
                            <td>{{ profile.user }}</td>
                         </tr>
                        <tr>
                            <td>First name</td>
                            <td>{{ profile.first_name }}</td>
                        </tr>
                        <tr>
                            <td>bio</td>
                            <td>{{ profile.bio }}</td>
                        </tr>
                        <tr>
                            <td>Number of Friends</td>
                            <td>
                             <ul>
                               {% for friend in profile.get_friends %}
                                <li>{{ friend }}</li>
                               {% endfor %}</ul></td>
                        </tr>
                        <tr>
                             <td>Number of posts</td>
                             <td>{{ profile.get_posts_no }}</td>
                        </tr>
                        <tr>
                             <td>Number of Likes given</td>
                             <td>{{ profile.get_likes_given_no }}</td>
                        </tr>
                        <tr>
                             <td>Number of Likes received</td>
                             <td>{{ profile.get_likes_received_no }}</td>
                        </tr>
                        <tr>
                             <td>Country</td>
                             <td>{{ profile.country }}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}
</body>
</html>